body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

section li {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
  }

section p {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
  }

footer p {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
  }

section span {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
  }

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: slideDown 1s ease-out;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header .cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
}

section .cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #3498db;
}



section {
    padding: 2em;
    background: #fff;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto; /* Ensure enough top margin */
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

#about {
    margin-top: 8em; /* Specific top margin for the About section */
}

#contact {
    margin-bottom: 8em; /* Specific top margin for the About section */
}

section h2 {
    margin-top: 0;
    color: #333;
    animation: textFocusIn 1.5s ease-in-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section:target::before {
    content: "";
    display: block;
    height: 120px; /* Further increase height */
    margin-top: -120px; /* Adjust negative margin accordingly */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #3498db;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes textFocusIn {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}






.skill-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill-icon {
    font-size: 40px;
    color: #0073e6;
    margin-bottom: 10px;
}

.skill h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}